#business{
    .wrap{color: 1;
        h2{color: 1;

        }
        article{color: 1;
            h3{color: 1;

            }
            span{color: 1;
                
            }
            p{color: 1;

            }
            a{color: 1;

            }
        }
    }
}