#green{color: 1;
    .wrap{color: 1;
        h2{color: 1;

        }
        ul{color: 1;
            li{color: 1;
                h3{color: 1;

                }
                p{color: 1;

                }
                    span{color: 1;

                    }
            }
        }
        a.sitview{color: 1;

        }
    }
}